@{
    ViewData["Title"] = "Book an Appointment";
}
@{
    var startTime = new TimeSpan(10, 0, 0); 
    var endTime = new TimeSpan(17, 0, 0);   
    var interval = new TimeSpan(0, 30, 0); 
}

<!DOCTYPE html>
<style>
    header {
    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
    }
</style>
<h2 class="mt-15 mb-4 text-success text-center">Book an Appointment</h2>

<div class="container">
    <form asp-action="BookingForm" method="post" class="p-4 shadow rounded bg-light">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="mb-3">
            <label class="form-label">Select Date</label>
            <input type="date" class="form-control" id="Date" name="Date" required />
        </div>
        <script>
            const dateInput = document.getElementById('Date');

            dateInput.addEventListener('input', function () {
            const selectedDate = new Date(this.value);
            const day = selectedDate.getDay(); //5 = Friday 6 = Saturday

            if (day == 5 || day == 6) {
            alert("Fridays and Saturdays are not available for appointments.");
            this.value = '';
            }
            });
        </script>

        <div class="mb-3">
            <label for="StartTime" class="form-label">Select Time</label>
            <select class="form-control" id="StartTime" name="StartTime" required>
                <option value="">-- Select Time --</option>
                @for (var time = startTime; time <= endTime; time += interval)
                {
                    var displayTime = time.ToString(@"hh\:mm");
                    <option value="@displayTime">@displayTime</option>
                    
                }
            </select>
        </div>

        <div class="mb-3">
            <label for="PatientName" class="form-label">PatientName</label>
            <input type="text" class="form-control" id="PatientName" name="PatientName"
                   placeholder="Enter Patient Name" 
                   required />
        </div>

        <div class="mb-3">
            <label for="PatientEmail" class="form-label">PatientEmail</label>
            <input type="email" class="form-control" id="PatientEmail" name="PatientEmail"
                   placeholder="Enter Patient Email"
                   required />
        </div>

        <div class="mb-3">
            <label for="PatientPhone" class="form-label">PatientPhone</label>
            <input type="tel" class="form-control" id="PatientPhone" name="PatientPhone"
                   pattern="[0-9]{10,15}"
                   min="10"
                   max="15"
                   placeholder="Enter phone number"
                   required />
            <div class="form-text">Enter digits only.</div>
        </div>
            <input type="hidden" name="DoctorId" value="@Model" />
        <div class="mb-3 justify-content-center align-content-center">
            <button type="submit" class="btn btn-outline-success">Submit</button>
        </div>
        
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
